h1 {
	font-family: Courier;
	color: #4454F0;
}
div {
	font-family: Arial;
	height: 80px;
	width: 18%;
	margin-bottom: 1%;
}
.yellow {
	background-color: yellow;
}
.red {
	background-color: red;
}
.pdl5 {
	padding-left: 5%;
}
.pdt5{
	padding-top: 1%;
}
p {
	padding-left: 5%;
}