h1 {
	font-family: Courier;
	color: #4454F0;
}
div {
	height: 20px;
	width: 20%;
	margin-bottom: 1%;
	margin-left: 1%;
	display: inline;
}
.yellow {
	background-color: yellow;
}
.red {
	background-color: red;
}
.pdl5 {
	padding-left: 1%;
}
.pdt5{
	padding-top: 1%;
}
p {
	display: inline;
}